<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journey To Conquer Vue</title>
    <!-- Import styles -->
    <link rel="stylesheet" href="./assets/style.css">
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div class="nav-bar">
            <div class="cart">Cart {{ cart }}</div>
            <div class="product-display">
                <div class="product-container">
                    <div class="product-image">
                        <img :src="image" :class="isOutOfStock ? 'out-of-stock-img' : 'available-img'">
                    </div>
                    <div class="product-info">
                        <h1>{{ product }}</h1>
                        <p v-if="inStock > 10">In Stock</p>
                        <p v-else-if="inStock <= 10 && inStock >0">Almost sold out!</p>
                        <p v-else>Out of Stock</p>
                        <p v-if="onSale">On Sale!</p>
                        <h3>Details about the {{ title }}:</h3>
                        <ul>
                            <li v-for="detail in details">{{ detail }}</li>
                        </ul>
                        <!-- The variants is a list of key, value -->
                        <p>Available colors:</p>
                        <ul>
                            <li v-for="(variant, index) in variants" :key="variant.id" @mouseover="updateVariant(index)"
                                class="color-circle" :style="{ backgroundColor: variant.color }"></li>
                        </ul>
                        <p>This {{ product }} has sizes:</p>
                        <ul>
                            <!-- The sizes is a list of values -->
                            <li v-for="(size, index) in sizes" :key="index">{{ size }}</li>
                        </ul>
                        <button class="button" :class="{ disabledButton: isOutOfStock }" :disabled="isOutOfStock"
                            @click="addToCart">Add to Cart</button>
                        <button class="button" :class="{ disabledButton: isOutOfStock }" :disabled="isOutOfStock"
                            @click="removeFromCart">Remove Item</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Import App -->
        <script src="./main.js"></script>
        <!-- Mount App -->
        <script>
            const mountedApp = app.mount('#app');
        </script>
</body>

</html>
